build-fprime-automatic-*/
build-artifacts/
*.pyc
__pycache__/
.vscode/
fprime-venv/
logs/
core.*

# CTest scratch (shouldn't be committed)
Testing/

# YAMCS runtime data (created by fprime-doom / fprime-yamcs)
yamcs-data/
build-fprime-automatic-*/
build-artifacts/

# Python packaging metadata
*.egg-info/
