build-fprime-automatic-*/
build-artifacts/
*.pyc
__pycache__/
.vscode/
fprime-venv/
logs/
core.*

# CTest scratch (shouldn't be committed)
Testing/

# YAMCS runtime data (created by fprime-doom / fprime-yamcs)
yamcs-data/

# Python packaging metadata
*.egg-info/
tools/fprime-doom/build/

# fprime-yamcs XTCE conversion cache
cache/
